<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>James Fisk – Case Studies</title>

  <!-- NHS Frontend CSS -->
  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
  <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>

  <style>
    .sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 3rem; /* Adjust to sit nicely below the header */
      align-self: flex-start;
    }
  
    .nhsuk-grid-row {
      display: flex;
    }
  
    .main-content {
      padding-left: 2rem;
    }
  
    .nhsuk-card__heading {
      font-size: 1.5rem;
    }
  </style>
  
</head>


<body class="">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

  <header class="nhsuk-header" role="banner">
    <div class="nhsuk-header__container">
      <div class="nhsuk-header__content" id="content-header">
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3" style="color:white;">Transforming the Academies Financial Handbook</h1>
        <p class="nhsuk-body-l" style="color:white;">How I took an inacessible, esoteric financial handbook that over 9,000 academies relied on for financial compliance and made it into a navigable, accessible and readable HTML manual</p>
      </div>
    </div>
  </header>
<!-- Breadcrumbs (Top) -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a href="/index" class="nhsuk-breadcrumb__link">Home</a></li>
      <li class="nhsuk-breadcrumb__item">Academies Financial Handbook</li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a href="/portfolio.html" class="nhsuk-breadcrumb__backlink">Back to Portfolio</a>
    </p>
  </div>
</nav>

  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        
        <!-- Floating Contents Column -->
        <div class="nhsuk-grid-column-one-quarter sidebar">
          <nav id="contents-nav" class="nhsuk-contents-list">        
            <h2 class="nhsuk-heading-m">Contents</h2>
            <ul class="nhsuk-list nhsuk-contents-list__list">
              <li class="nhsuk-contents-list__item"><a href="#handbook">The situation</a></li>
              <li class="nhsuk-contents-list__item"><a href="#my-task">My task</a></li>
              <li class="nhsuk-contents-list__item"><a href="#action">My actions</a></li>
              <li class="nhsuk-contents-list__item"><a href="#results">The results</a></li>
              <li class="nhsuk-contents-list__item"><a href="#toolbox">My toolbox</a></li>
            </ul>
          </nav>
        </div>
  
        <!-- Main Content Column -->
        <div class="nhsuk-grid-column-three-quarters">
          <h2 id="handbook" class="nhsuk-heading-l">The situation</h2>
          <p class="nhsuk-body">The Academies Financial Handbook is a piece of statutory guidance that sets out the legal requirements for over 9,000 academies in England. The funding they receive relies on their ability to interpet, apply and evidence how they meet the requirements set out in the handbook. <br><br> Since 2010, the handbook had been published as PDF on GOV.UK. This meant that a mandatory, statutory piece of guidance was: </p>
          <ul class="nhsd-t-list nhsd-t-list--bullet">
            <li class="nhsd-t-body">in a largely inaccessible format</li>
            <li class="nhsd-t-body">difficult to navigate</li>
            <li class="nhsd-t-body">difficult to find in search engines</li>
            <li class="nhsd-t-body">unable to tell its authors key performance insights you'd get from HTML</li>
           </ul>
           <p> The PDF format was favoured by the senior leadership team (SLT) because felt convenient to how they wrote and reviewed the content. This created a significant empathy gap between the information owners and the users who relied on it to manage successful academies.</p>
          <h2 id="my-task" class="nhsuk-heading-l">My task</h2>
          <p class="nhsuk-body">My challenge was to convince SLT that better content would have a tangible and positive effect on the desired outcomes of their policies. I knew that a HTML manual suited the needs of a complex document with multiple information hierarches, but providing a compelling case for change would require me to 'show the thing'. <br><br> In this instance, 'showing the thing' would involve creating a body of research to articulate the problems users were having and to then help them experience the solution by using a prototype product. </p>
  
          <h2 id="action" class="nhsuk-heading-l">My actions</h2>
          <p class="nhsuk-body">To create the case for change, I broke my actions into a sequence that helped me root the solutions in user needs, iterate and evolve the solution, and deliver a prdouct that would meet the right acceptance criteria </p>
          <h3 id="action" class="nhsuk-heading-2">Discovery</h3>
          <p class="nhsuk-body">I worked collaboratively with the Department for Education's user research specialists to scope, define and undertake detailed research with users. The outputs were to develop personas, user needs and acceptance criteria. This would provide a solid evidence base to both convince SLT of the need to change and help us develop success criteria for our proposed solution </p>
          <h3 id="action" class="nhsuk-heading-2">Design strategy</h3>
          <p class="nhsuk-body">Using insights from the discovery phase and having clear user needs articulated, I then looked to the guidance itself. I worked to synthesise these needs into a HTML semantic structure, group content within a coherent information architecture, and rewrite esoteric text to reduce cognitive load.</p>
          <h3 id="action" class="nhsuk-heading-2">Showing the thing</h3>
          <p class="nhsuk-body">I developed a prototype GOV.UK manual using the GOV.UK Prototyping kit. The purpose of this was both to 'show the thing' to SLT, but also to have a product to test with users directly with users.<br><br> My strategy was to build Google Analytics, HotJar and GTM tagging into the prototype so, in addition to feedback from users, I could provide SLT with a model of how data could inform future iterations of the handbook. Being able to report on search terms, scroll depth and pain points would further strengthen my case for change. <br><br> My prototype also included: </p>
          <ul class="nhsd-t-list nhsd-t-list--bullet">
            <li class="nhsd-t-body">modular chapters for quick scanning and deep linking</li>
            <li class="nhsd-t-body">intuitive signposting and progressive disclosure</li>
            <li class="nhsd-t-body">native search within the manual structure</li>
            <li class="nhsd-t-body">change notes and a single version to reduce confusion about current requirements</li>
           </ul>
           <h2 id="results" class="nhsuk-heading-l">The results</h2>
          <p class="nhsuk-body">The prototype was a success with positive feedback from both SLT and with the limited number of users we tested it with. Once launched, the new <a href="https://www.gov.uk/guidance/academy-trust-handbook">HTML manual</a>
 received significant praise for the sector. The manual was considered an exemplar within the ESFA of how to combine complex statutory guidance with user needs. <br><br>Other positive feedback included:</p>
          <ul class="nhsd-t-list nhsd-t-list--bullet">
            <li class="nhsd-t-body">being the 4th most used manual across GOV.UK</li>
            <li class="nhsd-t-body">a 78% positive response to whether the manual was useful</li>
            <li class="nhsd-t-body">a 27% reduction in non-compliance appeals citing the handbook</li>
           </ul>
           <h2 id="toolbox" class="nhsuk-heading-l">My toolbox</h2>
          <p class="nhsuk-body">The tools used to for discovery included:</p>
          <ul class="nhsd-t-list nhsd-t-list--bullet">
            <li class="nhsd-t-body">Maze</li>
            <li class="nhsd-t-body">Google Analytics</li>
            <li class="nhsd-t-body">HotJar</li>
            <li class="nhsd-t-body">Lookback</li>
           </ul>
           <p class="nhsuk-body">The tools used to for content strategy included:</p>
           <ul class="nhsd-t-list nhsd-t-list--bullet">
            <li class="nhsd-t-body">SEMrush</li>
            <li class="nhsd-t-body">Miro</li>
            <li class="nhsd-t-body">GOV.UK Prototype kit</li>
            <li class="nhsd-t-body">Trello</li>
           </ul>
        </div>
      </div>
    </main>
  </div>

<!-- Breadcrumbs (Bottom) -->
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <p class="nhsuk-breadcrumb__back">
      <a href="/portfolio.html" class="nhsuk-breadcrumb__backlink">Back to Portfolio home</a>
    </p>
  </div>
</nav>

  <footer role="contentinfo">
    <div class="nhsuk-footer-container">
      <div class="nhsuk-width-container">
        <p class="nhsuk-footer__copyright">© James Fisk</p>
      </div>
    </div>
  </footer>
</body>

</html>
