<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>James Fisk – Content Designer</title>

  <!-- NHS Design System Styles -->
  <link href="https://www.nhs.uk/" rel="preconnect">
  <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
  <link href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">

  <!-- NHS Design System JS -->
  <script src="/nhsuk-frontend/nhsuk.min.js" defer></script>

  <!-- NHS Icons & Favicons (optional) -->
  <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
</head>

<body class="js-enabled">

<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<header class="nhsuk-header nhsuk-header--transactional" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__content" id="content-header">
      <span class="nhsuk-header__transactional-service-name" style="color: white; font-size: 2rem;">James Fisk</span>
    </div>
  </div>
</header>

<div class="nhsuk-hero nhsuk-hero--image nhsuk-hero--dark" style="background-color: #005eb8;">
  <div class="nhsuk-width-container nhsuk-hero__wrapper">
    <h1 class="nhsuk-u-margin-bottom-3" style="color: white;">I specialise in translating complex ideas into clear, human-centred content</h1>
    <p class="nhsuk-body-l" style="color: white;">Content designer · UX strategist · Campaign manager</p>
  </div>
</div>

<main class="nhsuk-main-wrapper" id="maincontent" role="main">
  <div class="nhsuk-width-container">
    <div class="nhsuk-inset-text" >
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p data-block-key="reep2">My portfolio has been created using the NHS Prototyping kit so that it's accessible and uses familiar controls, buttons and patterns.
    </div>
    <h2 class="nhsuk-heading-l">Case Studies</h2>
    <ul class="nhsuk-grid-row nhsuk-card-group">

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="case-study-1">Transforming the Academies Financial Handbook</a>
            </h3>
            <p class="nhsuk-card__description">How I redesigned a 100+ page PDF into an accessible, search-friendly HTML manual.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="case-study-2">Relaunching Educate Against Hate</a>
            </h3>
            <p class="nhsuk-card__description">Leading content strategy and brand for a sensitive counter-extremism campaign.</p>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content nhsuk-card__content--primary">
            <h3 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="case-study-3">Building a content design community</a>
            </h3>
            <p class="nhsuk-card__description">Leading a team to introduce user-centred design principles and content design to NHS North-East London's digital portfolio</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</main>

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item">
          <a class="nhsuk-footer__list-item-link" href="mailto:jamesfiskjamesfisk@gmail.com">Contact me</a>
        </li>
      </ul>
      <p class="nhsuk-footer__copyright">© James Fisk 2025</p>
    </div>
  </div>
</footer>

</body>
</html>
